<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{% block title %}{% endblock %} - My Webpage</title>
		{% endblock %}
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% block css %} {% if "yes" %}
		<link rel="stylesheet" href="./css/hw8.css" type="text/css" />
		{% else %} {% endif %}
		<script src="./javascript/search.js"></script>
	</head>

	<!DOCTYPE html>
	<html lang="en">
		<head>
			{% block head %}
			<link rel="stylesheet" href="style.css" />
			<title>{% block title %}{% endblock %} - My Webpage</title>
			{% endblock %}
		</head>
		<body>
			<div data-gjs="navbar" class="navbar">{% block navbar %}{% endblock %}</div>
			<div id="content">{% block content %}{% endblock %}</div>
			<div id="footer">
				{% block footer %} &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>. {% endblock %}
			</div>
		</body>
	</html>
</html>
