{% extends "base.html" %} {% block navbar %}
<div class="navbar-container">
	<div id="i12fi" class="navbar-burger">
		<div class="navbar-burger-line"></div>
		<div class="navbar-burger-line"></div>
		<div class="navbar-burger-line"></div>
	</div>
	<div data-gjs="navbar-items" class="navbar-items-c">
		<nav data-gjs="navbar-menu" class="navbar-menu" id="i2rve">
			<a href="http://bfx3.aap.jhu.edu/mmorro14/unit06/search.html" class="navbar-menu-link" id="iucgr">HW 6 Home</a>
			<a href="http://bfx3.aap.jhu.edu/mmorro14/unit06/search_plain.html" class="navbar-menu-link" id="izbfi"
				>HW6 No CSS Styling</a
			>
		</nav>
	</div>
</div>
{% endblock navbar %}
